/.vs
/aosora-shiori/Win32
/aosora-shiori-dll/Win32
/aosora-shiori-dll/*.aps
/aosora-shiori-sandbox/Win32
/aosora-shiori-test/Debug
/aosora-shiori-test/Release
/aosora-shiori-test/Win32
/aosora-sstp/Win32
/aosora-analyzer/Win32
/aosora-plugin-core/Win32
/aosora-plugin-wrapper-cpp/Win32
/aosora-plugin-sample/Win32
/aosora-console/Win32
/aosora-plugin-rust/target
/aosora-plugin-rust-sample/target
/Debug
/Win32
/ssp/temp
*.vcxproj.user
profile
aosora.dll
aosora.exp
aosora.lib
aosora.pdb

/ssp/ghost/test/shell/master/profile
/ssp/ghost/test/ghost/master/profile
/ssp/ghost/test/ghost/master/aosora.*
/ssp/ghost/test/ghost/master/savedata.asv
/ssp/balloon/emily4
/ssp/STACKTRC.txt
/ssp/headline
/ssp/plugin
.vscode/settings.json
/goujian